TELEGRAM_BOT_TOKEN=8903859166:AAHp5EP3rLr2FgkSiAhZmVwBpRfQr101OLg

OPENAI_API_KEY=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

UNLOCK_PRICE_STARS=100
